img {
    opacity: 0.5;
}

.swiper-container {
    position: relative;
}

/* SwiperSlide 개수에 따라 조정 필요... */
.close-button {
    position: absolute;
    left: 46.5%;
    /* Center horizontally */
    top: 85%;
    /* Adjust as needed */
    transform: translateX(-50%);
    /* Center horizontally */
    z-index: 10;
    background-color: #ff0000;
    /* Example styling */
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

@media (min-width: 500px) and (max-width: 599px) {
    .close-button {
        left: 35.5%;
        /* Adjust as needed */
    }
}

@media (min-width: 600px) and (max-width: 699px) {
    .close-button {
        left: 38.5%;
        /* Adjust as needed */
    }
}

@media (min-width: 700px) and (max-width: 799px) {
    .close-button {
        left: 40%;
        /* Adjust as needed */
    }
}

@media (min-width: 800px) and (max-width: 899px) {
    .close-button {
        left: 42%;
        /* Adjust as needed */
    }
}

@media (min-width: 900px) and (max-width: 999px) {
    .close-button {
        left: 43%;
        /* Adjust as needed */
    }
}

@media (min-width: 1000px) and (max-width: 1099px) {
    .close-button {
        left: 43%;
        /* Adjust as needed */
    }
}

@media (min-width: 1100px) and (max-width: 1199px) {
    .close-button {
        left: 44%;
        /* Adjust as needed */
    }
}

@media (min-width: 1200px) and (max-width: 1299px) {
    .close-button {
        left: 44.5%;
        /* Adjust as needed */
    }
}

@media (min-width: 1300px) and (max-width: 1499px) {
    .close-button {
        left: 45%;
        /* Adjust as needed */
    }
}

@media (min-width: 1500px) and (max-width: 1699px) {
    .close-button {
        left: 45.5%;
        /* Adjust as needed */
    }
}

@media (min-width: 1700px) and (max-width: 1799px) {
    .close-button {
        left: 46%;
        /* Adjust as needed */
    }
}